@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Kaushan+Script&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: fit-content;
  overflow-x: hidden;
}

body {
  text-rendering: optimizeSpeed;
  background-color: #EAEAEA;
  font-family: "Albert Sans", sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #121212;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  pointer-events: auto;
}

/* common styles and utility */
.font-header-1 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: clamp(2.4375rem, 1.768835616438356rem + 3.013698630136986vw, 4.5rem);
  color: #fff;
  font-weight: 500;
  line-height: clamp(2.6875rem, 2.079623287671233rem + 2.73972602739726vw, 4.8625rem);
  letter-spacing: -1.44px;
}

.font-header-2 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 38px;
  color: #22271C;
  font-weight: 500;
  letter-spacing: -0.76px;
}

.font-header-3 {
  font-family: "Albert Sans", sans-serif;
  font-size: 22px;
  color: #22271C;
  line-height: normal;
  font-weight: 600;
}

.font-accent {
  font-family: "Kaushan Script", cursive;
  line-height: 73px;
  letter-spacing: -1.44px;
}

.container {
  max-width: 1450px;
  padding-inline: 2rem;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .container {
    padding-inline: 0.625rem;
  }
}

.fw-regular {
  font-weight: 400;
}

.fw-semi-bold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fw-bold-2 {
  font-weight: 800;
}

.text-center {
  text-align: center;
}

.section-label {
  margin-bottom: 3.35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.section-label .label {
  margin-top: 3px;
  display: flex;
  gap: 4px;
  padding: 2px 10px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #819A61;
  background: rgba(211, 255, 155, 0.19);
}

.section-label .label p {
  color: #545454;
}

.sub-headline {
  color: #22271C;
  font-size: 26px;
  line-height: 35px;
}

.accent-text-1 {
  background: linear-gradient(90deg, #D1FF9A 0.17%, #e4fac9 40.42%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 5px;
  position: relative;
}

.accent-text-1::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 0.25em;
  background-image: url('/event-booking/assets/images/underline.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.accent-text-2 {
  font-weight: 400;
  padding-right: 10px;
  color: #a7e457;
}

/* button styles */
.btn-link {
  width: fit-content;
  display: inline-block;
}

.btn-link .btn {
  cursor: pointer;
  display: flex;
  padding: 12px 12px;
  gap: 8px;
  align-items: center;
  border-radius: 6px;
  outline: none;
  border: none;
  font-weight: 500;
}

.btn.btn-primary {
  background: #c3fa7b;
}

.btn.btn-primary-2 {
  background: #bfe68d;
}

.btn.btn-secondary {
  background: transparent;
  border: 1px solid white;
  color: white;
}

.btn.btn-tertiary {
  background: #111916;
  color: white;
}

/* header styles */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #EAEAEA;
  z-index: 10;
}

@media screen and (max-width: 425px) {
  header {
    top: 1rem;
  }
}

header .header-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header-wrapper .logo-link {
  background-color: rgba(22, 34, 7, 0.58);
  backdrop-filter: blur(15px);
  padding: .8rem 1rem;
  border-radius: 0 0 4px 4px;
}

.header-wrapper .nav-items {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 1rem;
}

.header-wrapper .nav-menu {
  border-radius: 4px;
  background: rgba(12, 16, 9, 0.59);
  backdrop-filter: blur(18px);
  padding: 6px;
}

.header-wrapper .nav-menu .nav-links {
  display: flex;
  gap: 6px;
}

.header-wrapper .nav-link {
  padding: 6px 10px;
  position: relative;
}

.header-wrapper .nav-link a {
  letter-spacing: -0.32px;
  opacity: .95;
  transition: opacity 0.3s ease-in-out;
}

.header-wrapper .nav-link a:hover {
  opacity: .75;
}

.header-wrapper .nav-btns {
  display: flex;
  gap: 6px;
  align-items: center;
}

.header-wrapper .nav-toggler {
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  height: 55px;
  width: 55px;
  display: none;
  border: 1px solid #22271C;
}

.header-wrapper .nav-toggler span {
  margin: auto;
}

.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 25px;
  height: 3px;
  border-radius: 2px;
  background-color: #22271C;
  display: block;
  transition: 0.3s;
}

.nav-toggler span:before {
  content: "";
  transform: translateY(-7px);
}

.nav-toggler span:after {
  content: "";
  transform: translateY(4px);
}

.nav-toggler.toggler-open span {
  background-color: transparent;
}

.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}

.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}

@media screen and (max-width: 1044px) {
  .header-wrapper .logo-link {
    width: 180px;
  }

  .header-wrapper .nav-btns {
    display: flex;
    gap: .75rem;
    align-items: center;
  }

  .header-wrapper .nav-btns .nav-toggler {
    display: block;
  }

  .navbar {
    min-height: 60px;
  }

  .header-wrapper .nav-menu .nav-links {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    flex-direction: column;
    align-items: end;
    background: #ebedf1f4;
    backdrop-filter: blur(21px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    height: 0;
    overflow: hidden;
    gap: 0;
    border-radius: 0;
    transition: height 0.1s ease-out;
  }

  .header-wrapper .nav-link {
    margin-block: 1.125rem;
    opacity: 0;
    font-size: 4rem;
    font-weight: 600;
    transition: opacity 0.8s ease-in;
    transition: margin-block 0.5s ease-out;
  }

  .nav-links.open {
    opacity: 1;
    padding-top: 90px;
    padding-right: 1.5rem;
    height: 100vh;
    overflow: visible;
  }

  .nav-links.open .nav-link {
    opacity: 1;
    margin-block: 2rem;
    padding-block: 0;
  }
}

@media screen and (max-width: 540px) {
  .header-wrapper .nav-btns .btn-link {
    display: none;
  }
}

/* hero section styling */
.hero-section {
  min-height: 100vh;
  height: 700px;
  width: 100%;
  background-image: url('../images/hero-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #EAEAEA;
}

.hero-section .wrapper {
  padding-top: 12rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.hero-col-1 {
  flex: 1;
  max-width: 710px;
}

.hero-col-1 .hero-btns {
  display: flex;
  gap: 12px;
  font-size: 20px;
  margin-top: 190px;
}

.hero-col-1 .hero-btns button {
  padding: 16px 18px;
}

.hero-col-2 .hero-box {
  width: min(35vw, 411px);
  padding: 12px;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(28, 35, 23, 0.37) 0%, rgba(113, 113, 113, 0.16) 100%);
  box-shadow: 0px 4px 35.4px 0px rgba(37, 37, 37, 0.05);
  backdrop-filter: blur(18px);
}

.hero-col-2 .hero-box .img-wrapper {
  width: 100%;
  height: 190px;
  overflow: hidden;
  border-radius: 7px;
  position: relative;
}

.hero-col-2 .hero-box .img-wrapper [data-icon="circle-arrow"] {
  position: absolute;
  bottom: .25rem;
  right: .25rem;
}

.hero-col-2 .hero-box .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-col-2 .hero-box .hero-text h2 {
  color: #FFF;
  font-size: 27px;
  font-weight: 700;
  letter-spacing: -0.54px;
  margin-block: 12px 8px;
}

.hero-col-2 .hero-box .hero-text p {
  opacity: .9;
  line-height: 134.3%;
}

@media (max-width: 880px) {
  .hero-section .wrapper {
    flex-direction: column;
    padding-top: 10rem;
    align-items: flex-start;
    gap: 5rem;
  }

  .hero-col-1 {
    margin-inline: auto;
  }

  .hero-col-1 .font-header-1 {
    text-align: center;
  }

  .hero-col-1 .hero-btns {
    margin-top: 24px;
    width: fit-content;
    margin-inline: auto;
  }

  .hero-col-1 .hero-btns button {
    padding: 12px;
    font-size: 1rem;
  }

  .hero-col-2 .hero-box {
    display: flex;
    gap: 1rem;
    width: min(580px, 80%);
    margin-inline: auto;
  }

  .hero-col-2 .hero-box .hero-text {
    max-width: 390px;
  }

  .hero-col-2 .hero-box .hero-text h2 {
    font-size: 24px;
  }

  .hero-col-2 .hero-box .img-wrapper {
    height: auto;
    min-height: 150px;
    min-width: 200px;
  }
}

@media (max-width: 650px) {
  .hero-section .wrapper {
    padding-top: 8rem;
    gap: 4rem;
  }

  .hero-col-1 .font-header-1 {
    font-weight: 600;
  }

  .hero-col-2 {
    width: 100%;
  }

  .hero-col-2 .hero-box {
    flex-direction: column;
    gap: .25rem;
    width: min(370px, 80%);
  }

  .hero-col-2 .hero-box .img-wrapper {
    height: 140px;
    min-height: auto;
  }
}

@media (max-width: 510px) {
  .hero-section {
    height: fit-content;
    padding-bottom: 3rem;
  }

  .hero-section .wrapper {
    gap: 2.5rem;
  }

  .hero-col-2 .hero-box {
    width: 100%;
  }
}